## ELA 2018-2019

In [1]:
import pandas as pd
import numpy as np

df_annual_em_ela_2019 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2019/Annual EM ELA.csv"
)

In [2]:
df_annual_em_ela_2019.isnull().sum()

ENTITY_CD             0
ENTITY_NAME           0
YEAR                  0
ASSESSMENT_NAME       0
SUBGROUP_NAME         0
NUM_TESTED            0
NOT_TESTED            0
LEVEL1_COUNT          0
LEVEL1_%TESTED        0
LEVEL2_COUNT          0
LEVEL2_%TESTED        0
LEVEL3_COUNT          0
LEVEL3_%TESTED        0
LEVEL4_COUNT          0
LEVEL4_%TESTED        0
NUM_PROF              0
PER_PROF              0
TOTAL_SCALE_SCORES    0
MEAN_SCORE            0
dtype: int64

In [3]:
df_annual_em_ela_2019.columns

Index(['ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME', 'SUBGROUP_NAME',
       'NUM_TESTED', 'NOT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'NUM_PROF', 'PER_PROF',
       'TOTAL_SCALE_SCORES', 'MEAN_SCORE'],
      dtype='object')

In [4]:
df_annual_em_ela_2019["SUBGROUP_NAME"].unique()

array(['Hispanic or Latino', 'Homeless', 'Male',
       'Non-English Language Learners', 'Not Economically Disadvantaged',
       'American Indian or Alaska Native',
       'Asian or Native Hawaiian/Other Pacific Islander',
       'Black or African American', 'Economically Disadvantaged',
       'English Language Learners', 'Female', 'General Education',
       'Multiracial', 'All Students', 'In Foster Care', 'Migrant',
       'Not Homeless', 'Not in Foster Care', 'Not Migrant',
       'Parent in Armed Forces', 'Parent Not in Armed Forces',
       'Students with Disabilities', 'White', 'Small Group Total'],
      dtype=object)

In [5]:
# rename Non-English Language Learners to Non-English Language Learner
df_annual_em_ela_2019["SUBGROUP_NAME"] = df_annual_em_ela_2019["SUBGROUP_NAME"].replace(
    "Non-English Language Learners", "Non-English Language Learner"
)
# rename English Language Learners to English Language Learner
df_annual_em_ela_2019["SUBGROUP_NAME"] = df_annual_em_ela_2019["SUBGROUP_NAME"].replace(
    "English Language Learners", "English Language Learner"
)

In [6]:
# only keep columns
column_names = [
    "ENTITY_CD",
    "ENTITY_NAME",
    "YEAR",
    "ASSESSMENT_NAME",
    "SUBGROUP_NAME",
    "NOT_TESTED",
    "NUM_TESTED",
    "NUM_PROF",
    "PER_PROF",
    "TOTAL_SCALE_SCORES",
    "MEAN_SCORE",
]

In [7]:
df_annual_em_ela_2019 = df_annual_em_ela_2019[column_names]

In [8]:
df_annual_em_ela_2019.dtypes

ENTITY_CD              int64
ENTITY_NAME           object
YEAR                   int64
ASSESSMENT_NAME       object
SUBGROUP_NAME         object
NOT_TESTED             int64
NUM_TESTED             int64
NUM_PROF              object
PER_PROF              object
TOTAL_SCALE_SCORES    object
MEAN_SCORE            object
dtype: object

In [9]:
# identify any character in the data
df_annual_em_ela_2019.applymap(type).eq(str).any()

ENTITY_CD             False
ENTITY_NAME            True
YEAR                  False
ASSESSMENT_NAME        True
SUBGROUP_NAME          True
NOT_TESTED            False
NUM_TESTED            False
NUM_PROF               True
PER_PROF               True
TOTAL_SCALE_SCORES     True
MEAN_SCORE             True
dtype: bool

In [10]:
# replace characters with nan and convert to float
df_annual_em_ela_2019["NUM_PROF"] = pd.to_numeric(
    df_annual_em_ela_2019["NUM_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_ela_2019["PER_PROF"] = pd.to_numeric(
    df_annual_em_ela_2019["PER_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_ela_2019["TOTAL_SCALE_SCORES"] = pd.to_numeric(
    df_annual_em_ela_2019["TOTAL_SCALE_SCORES"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_ela_2019["MEAN_SCORE"] = pd.to_numeric(
    df_annual_em_ela_2019["MEAN_SCORE"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

In [11]:
df_annual_em_ela_2019.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
NOT_TESTED              int64
NUM_TESTED              int64
NUM_PROF              float64
PER_PROF              float64
TOTAL_SCALE_SCORES    float64
MEAN_SCORE            float64
dtype: object

In [12]:
df_annual_em_ela_2019.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,331400011071,JUAN MOREL CAMPOS SECONDARY SCHOOL,2018,ELA8,Hispanic or Latino,6,39,7.0,18.0,22910.0,587.0
1,331400011071,JUAN MOREL CAMPOS SECONDARY SCHOOL,2018,ELA7,Hispanic or Latino,2,36,6.0,17.0,21346.0,593.0
2,331400011071,JUAN MOREL CAMPOS SECONDARY SCHOOL,2018,ELA6,Hispanic or Latino,2,36,15.0,42.0,21466.0,596.0
3,331400011071,JUAN MOREL CAMPOS SECONDARY SCHOOL,2018,ELA8,Homeless,2,9,2.0,22.0,5284.0,587.0
4,331400011071,JUAN MOREL CAMPOS SECONDARY SCHOOL,2018,ELA7,Homeless,1,6,0.0,0.0,3491.0,582.0

In [14]:
# save to csv

df_annual_em_ela_2019.to_csv('edited_data/ELA_edited_2018_19.csv', index=False)

## MATH 2018-2019

In [15]:

df_annual_em_math_2019 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2019/Annual EM Math.csv"
)

df_annual_em_math_2019.isnull().sum()

ENTITY_CD                0
ENTITY_NAME              0
YEAR                     0
ASSESSMENT_NAME          0
SUBGROUP_NAME            0
NUM_TESTED               0
NOT_TESTED               4
LEVEL1_COUNT             0
LEVEL1_%TESTED           0
LEVEL2_COUNT             0
LEVEL2_%TESTED           0
LEVEL3_COUNT             0
LEVEL3_%TESTED           0
LEVEL4_COUNT             0
LEVEL4_%TESTED           0
LEVEL5_COUNT             0
LEVEL5_%TESTED           0
NUM_PROF                 0
PER_PROF                 0
TOTAL_SCALE_SCORES    3132
MEAN_SCORE            3132
dtype: int64

In [16]:
df_annual_em_math_2019.columns

Index(['ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME', 'SUBGROUP_NAME',
       'NUM_TESTED', 'NOT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'LEVEL5_COUNT', 'LEVEL5_%TESTED',
       'NUM_PROF', 'PER_PROF', 'TOTAL_SCALE_SCORES', 'MEAN_SCORE'],
      dtype='object')

In [17]:
df_annual_em_math_2019["SUBGROUP_NAME"].unique()

array(['Not Migrant', 'Parent in Armed Forces',
       'Parent Not in Armed Forces', 'All Students',
       'American Indian or Alaska Native',
       'Asian or Native Hawaiian/Other Pacific Islander',
       'Black or African American', 'Economically Disadvantaged',
       'English Language Learners', 'Female', 'General Education',
       'Hispanic or Latino', 'Homeless', 'Male', 'Multiracial',
       'Non-English Language Learners', 'Not Economically Disadvantaged',
       'Not Homeless', 'Not in Foster Care', 'Students with Disabilities',
       'White', 'In Foster Care', 'Migrant', 'Small Group Total'],
      dtype=object)

In [18]:
# rename Non-English Language Learners to Non-English Language Learner
df_annual_em_math_2019["SUBGROUP_NAME"] = df_annual_em_math_2019["SUBGROUP_NAME"].replace(
    "Non-English Language Learners", "Non-English Language Learner"
)
# rename English Language Learners to English Language Learner
df_annual_em_math_2019["SUBGROUP_NAME"] = df_annual_em_math_2019["SUBGROUP_NAME"].replace(
    "English Language Learners", "English Language Learner"
)

In [19]:
df_annual_em_math_2019 = df_annual_em_math_2019[column_names]

In [21]:
df_annual_em_math_2019.dtypes

ENTITY_CD              int64
ENTITY_NAME           object
YEAR                   int64
ASSESSMENT_NAME       object
SUBGROUP_NAME         object
NOT_TESTED            object
NUM_TESTED             int64
NUM_PROF              object
PER_PROF              object
TOTAL_SCALE_SCORES    object
MEAN_SCORE            object
dtype: object

In [24]:
# identify any character in the data
df_annual_em_math_2019.applymap(type).eq(str).any()

ENTITY_CD             False
ENTITY_NAME            True
YEAR                  False
ASSESSMENT_NAME        True
SUBGROUP_NAME          True
NOT_TESTED             True
NUM_TESTED            False
NUM_PROF               True
PER_PROF               True
TOTAL_SCALE_SCORES     True
MEAN_SCORE             True
dtype: bool

In [25]:
# replace characters with nan and convert to float
df_annual_em_math_2019["NUM_PROF"] = pd.to_numeric(
    df_annual_em_math_2019["NUM_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_math_2019["PER_PROF"] = pd.to_numeric(
    df_annual_em_math_2019["PER_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_math_2019["TOTAL_SCALE_SCORES"] = pd.to_numeric(
    df_annual_em_math_2019["TOTAL_SCALE_SCORES"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_math_2019["MEAN_SCORE"] = pd.to_numeric(
    df_annual_em_math_2019["MEAN_SCORE"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

In [26]:
df_annual_em_math_2019.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
NOT_TESTED             object
NUM_TESTED              int64
NUM_PROF              float64
PER_PROF              float64
TOTAL_SCALE_SCORES    float64
MEAN_SCORE            float64
dtype: object

In [27]:
df_annual_em_math_2019.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,3,High Need/Resource Urban-Suburban Districts,2018,MATH6,Not Migrant,3825,12247,3006.0,25.0,7224468.0,590.0
1,3,High Need/Resource Urban-Suburban Districts,2018,MATH6,Parent in Armed Forces,3,24,15.0,63.0,14495.0,604.0
2,3,High Need/Resource Urban-Suburban Districts,2018,MATH3,Parent in Armed Forces,0,59,35.0,59.0,35407.0,600.0
3,3,High Need/Resource Urban-Suburban Districts,2018,MATH5,Parent in Armed Forces,4,53,24.0,45.0,31730.0,599.0
4,3,High Need/Resource Urban-Suburban Districts,2018,MATH8,Parent in Armed Forces,8,16,3.0,19.0,9588.0,599.0

In [28]:
# save to csv

df_annual_em_math_2019.to_csv('edited_data/math_edited_2018_19.csv', index=False)

## Science 2018-19

In [29]:

df_annual_em_sci_2019 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2019/Annual EM Science.csv"
)

df_annual_em_sci_2019.isnull().sum()

ENTITY_CD                 0
ENTITY_NAME               0
YEAR                      0
ASSESSMENT_NAME           0
SUBGROUP_NAME             0
NUM_TESTED                0
NOT_TESTED                0
LEVEL1_COUNT              0
LEVEL1_%TESTED            0
LEVEL2_COUNT              0
LEVEL2_%TESTED            0
LEVEL3_COUNT              0
LEVEL3_%TESTED            0
LEVEL4_COUNT              0
LEVEL4_%TESTED            0
NUM_PROF                  0
PER_PROF               3984
TOTAL_SCALE_SCORES    32669
MEAN_SCORE            32669
dtype: int64

In [30]:
df_annual_em_sci_2019.columns

Index(['ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME', 'SUBGROUP_NAME',
       'NUM_TESTED', 'NOT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'NUM_PROF', 'PER_PROF',
       'TOTAL_SCALE_SCORES', 'MEAN_SCORE'],
      dtype='object')

In [31]:
df_annual_em_sci_2019["SUBGROUP_NAME"].unique()

array(['All Students', 'American Indian or Alaska Native',
       'Asian or Native Hawaiian/Other Pacific Islander',
       'Black or African American', 'Economically Disadvantaged',
       'English Language Learners', 'Female', 'General Education',
       'Hispanic or Latino', 'Homeless', 'Male', 'Multiracial',
       'Non-English Language Learners', 'Not Economically Disadvantaged',
       'Not Homeless', 'Not in Foster Care', 'Not Migrant',
       'Parent in Armed Forces', 'Parent Not in Armed Forces',
       'Students with Disabilities', 'White', 'In Foster Care', 'Migrant',
       'Small Group Total'], dtype=object)

In [32]:
# rename Non-English Language Learners to Non-English Language Learner
df_annual_em_sci_2019["SUBGROUP_NAME"] = df_annual_em_sci_2019["SUBGROUP_NAME"].replace(
    "Non-English Language Learners", "Non-English Language Learner"
)
# rename English Language Learners to English Language Learner
df_annual_em_sci_2019["SUBGROUP_NAME"] = df_annual_em_sci_2019["SUBGROUP_NAME"].replace(
    "English Language Learners", "English Language Learner"
)

In [33]:
df_annual_em_sci_2019 = df_annual_em_sci_2019[column_names]

In [34]:
df_annual_em_sci_2019.dtypes

ENTITY_CD              int64
ENTITY_NAME           object
YEAR                   int64
ASSESSMENT_NAME       object
SUBGROUP_NAME         object
NOT_TESTED            object
NUM_TESTED             int64
NUM_PROF              object
PER_PROF              object
TOTAL_SCALE_SCORES    object
MEAN_SCORE            object
dtype: object

In [35]:
df_annual_em_sci_2019.applymap(type).eq(str).any()

ENTITY_CD             False
ENTITY_NAME            True
YEAR                  False
ASSESSMENT_NAME        True
SUBGROUP_NAME          True
NOT_TESTED             True
NUM_TESTED            False
NUM_PROF               True
PER_PROF               True
TOTAL_SCALE_SCORES     True
MEAN_SCORE             True
dtype: bool

In [36]:
# replace characters with nan and convert to float
df_annual_em_sci_2019["NUM_PROF"] = pd.to_numeric(
    df_annual_em_sci_2019["NUM_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_sci_2019["PER_PROF"] = pd.to_numeric(
    df_annual_em_sci_2019["PER_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_sci_2019["TOTAL_SCALE_SCORES"] = pd.to_numeric(
    df_annual_em_sci_2019["TOTAL_SCALE_SCORES"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_sci_2019["MEAN_SCORE"] = pd.to_numeric(
    df_annual_em_sci_2019["MEAN_SCORE"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

In [37]:
df_annual_em_sci_2019.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
NOT_TESTED             object
NUM_TESTED              int64
NUM_PROF              float64
PER_PROF              float64
TOTAL_SCALE_SCORES    float64
MEAN_SCORE            float64
dtype: object

In [38]:
df_annual_em_sci_2019.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,1,NYC Public Schools,2018,Science4,All Students,8549,68089,59021.0,87.0,5510492.0,81.0
1,1,NYC Public Schools,2018,Science8,All Students,23690,47519,25375.0,53.0,3062957.0,64.0
2,1,NYC Public Schools,2018,RegentsScience8,All Students,s,14463,11338.0,78.0,NaN,NaN
3,1,NYC Public Schools,2018,CombinedScience,All Students,23690,61982,36713.0,59.0,3062957.0,49.0
4,1,NYC Public Schools,2018,Science4_8,All Students,32239,130071,95734.0,74.0,8573449.0,66.0

In [39]:
# save to csv

df_annual_em_sci_2019.to_csv('edited_data/sci_edited_2018_19.csv', index=False)

## ELA 2021-2022

In [40]:

df_annual_em_ela_2022 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2022/Annual EM ELA.csv"
)

df_annual_em_ela_2022.isnull().sum()

INSTITUTION_ID        18418
ENTITY_CD                 0
ENTITY_NAME               0
YEAR                      0
ASSESSMENT_NAME           0
SUBGROUP_NAME             0
TOTAL_COUNT               0
NOT_TESTED                0
PCT_NOT_TESTED            0
NUM_TESTED                0
PCT_TESTED                0
LEVEL1_COUNT              0
LEVEL1_%TESTED        47961
LEVEL2_COUNT              0
LEVEL2_%TESTED        47961
LEVEL3_COUNT              0
LEVEL3_%TESTED        47961
LEVEL4_COUNT              0
LEVEL4_%TESTED        47961
NUM_PROF                  0
PER_PROF              47961
TOTAL_SCALE_SCORES    56627
MEAN_SCORE            56627
dtype: int64

In [45]:
df_annual_em_ela_2022.columns

Index(['INSTITUTION_ID', 'ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME',
       'SUBGROUP_NAME', 'TOTAL_COUNT', 'NOT_TESTED', 'PCT_NOT_TESTED',
       'NUM_TESTED', 'PCT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'NUM_PROF', 'PER_PROF',
       'TOTAL_SCALE_SCORES', 'MEAN_SCORE'],
      dtype='object')

In [48]:
df_annual_em_ela_2022["SUBGROUP_NAME"].unique()

array(['All Students', 'Female', 'Male',
       'American Indian or Alaska Native', 'Black or African American',
       'Hispanic or Latino',
       'Asian or Native Hawaiian/Other Pacific Islander', 'White',
       'Multiracial', 'General Education Students',
       'Students with Disabilities', 'Non-English Language Learner',
       'English Language Learner', 'Economically Disadvantaged',
       'Not Economically Disadvantaged', 'Migrant', 'Not Migrant',
       'Homeless', 'Not Homeless', 'In Foster Care', 'Not in Foster Care',
       'Parent in Armed Forces', 'Parent Not in Armed Forces',
       'Small Group Total'], dtype=object)

In [47]:
column_names_22 = [
    "ENTITY_CD",
    "ENTITY_NAME",
    "YEAR",
    "ASSESSMENT_NAME",
    "SUBGROUP_NAME",
    "TOTAL_COUNT",
    "NOT_TESTED",
    "PCT_NOT_TESTED",
    "NUM_TESTED",
    "PCT_TESTED",
    "NUM_PROF",
    "PER_PROF",
    "TOTAL_SCALE_SCORES",
    "MEAN_SCORE",
]

In [49]:
df_annual_em_ela_2022 = df_annual_em_ela_2022[column_names_22]

In [50]:
df_annual_em_ela_2022.dtypes

ENTITY_CD              int64
ENTITY_NAME           object
YEAR                   int64
ASSESSMENT_NAME       object
SUBGROUP_NAME         object
TOTAL_COUNT            int64
NOT_TESTED             int64
PCT_NOT_TESTED         int64
NUM_TESTED             int64
PCT_TESTED             int64
NUM_PROF              object
PER_PROF              object
TOTAL_SCALE_SCORES    object
MEAN_SCORE            object
dtype: object

In [51]:
df_annual_em_ela_2022.applymap(type).eq(str).any()

ENTITY_CD             False
ENTITY_NAME            True
YEAR                  False
ASSESSMENT_NAME        True
SUBGROUP_NAME          True
TOTAL_COUNT           False
NOT_TESTED            False
PCT_NOT_TESTED        False
NUM_TESTED            False
PCT_TESTED            False
NUM_PROF               True
PER_PROF               True
TOTAL_SCALE_SCORES     True
MEAN_SCORE             True
dtype: bool

In [52]:
# replace characters with nan and convert to float
df_annual_em_ela_2022["NUM_PROF"] = pd.to_numeric(
    df_annual_em_ela_2022["NUM_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_ela_2022["PER_PROF"] = pd.to_numeric(
    df_annual_em_ela_2022["PER_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_ela_2022["TOTAL_SCALE_SCORES"] = pd.to_numeric(
    df_annual_em_ela_2022["TOTAL_SCALE_SCORES"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_ela_2022["MEAN_SCORE"] = pd.to_numeric(
    df_annual_em_ela_2022["MEAN_SCORE"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

In [53]:
df_annual_em_ela_2022.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
TOTAL_COUNT             int64
NOT_TESTED              int64
PCT_NOT_TESTED          int64
NUM_TESTED              int64
PCT_TESTED              int64
NUM_PROF              float64
PER_PROF              float64
TOTAL_SCALE_SCORES    float64
MEAN_SCORE            float64
dtype: object

In [54]:
df_annual_em_ela_2022.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,111111111111,All Public Schools,2021,ELA3,All Students,192560,99642,52,92918,48,56106.0,60.0,56059902.0,603.0
1,111111111111,All Public Schools,2021,ELA3,Female,93485,47472,51,46013,49,28637.0,62.0,27807245.0,604.0
2,111111111111,All Public Schools,2021,ELA3,Male,99075,52170,53,46905,47,27469.0,59.0,28252657.0,602.0
3,111111111111,All Public Schools,2021,ELA3,American Indian or Alaska Native,1469,963,66,506,34,249.0,49.0,302414.0,598.0
4,111111111111,All Public Schools,2021,ELA3,Black or African American,30796,21583,70,9213,30,3962.0,43.0,5471678.0,594.0

In [55]:
# save to csv

df_annual_em_ela_2022.to_csv('edited_data/ela_edited_2021_22.csv', index=False)

## MATH 2021-2022

In [56]:
df_annual_em_math_2022 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2022/Annual EM Math.csv"
)

df_annual_em_math_2022.isnull().sum()

/var/folders/2s/c87gg64118ndg_yrky9zvlnc0000gn/T/ipykernel_55996/630066877.py:1: DtypeWarning: Columns (19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df_annual_em_math_2022 = pd.read_csv(

INSTITUTION_ID         18981
ENTITY_CD                  0
ENTITY_NAME                0
YEAR                       0
ASSESSMENT_NAME            0
SUBGROUP_NAME              0
TOTAL_COUNT             3843
NOT_TESTED                 0
PCT_NOT_TESTED             2
NUM_TESTED                 0
PCT_TESTED                 2
LEVEL1_COUNT               0
LEVEL1_%TESTED         57176
LEVEL2_COUNT               0
LEVEL2_%TESTED         57176
LEVEL3_COUNT               0
LEVEL3_%TESTED         57176
LEVEL4_COUNT               0
LEVEL4_%TESTED         57176
LEVEL5_COUNT          631867
LEVEL5_%TESTED        633183
NUM_PROF                   0
PER_PROF               57176
TOTAL_SCALE_SCORES     80591
MEAN_SCORE             80591
TOTAL_EXEMPT          652755
NUM_EXEMPT_NTEST      652755
PCT_EXEMPT_NTEST      654943
NUM_EXEMPT_TEST       652755
PCT_EXEMPT_TEST       654943
dtype: int64

In [57]:
df_annual_em_math_2022.columns

Index(['INSTITUTION_ID', 'ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME',
       'SUBGROUP_NAME', 'TOTAL_COUNT', 'NOT_TESTED', 'PCT_NOT_TESTED',
       'NUM_TESTED', 'PCT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'LEVEL5_COUNT', 'LEVEL5_%TESTED',
       'NUM_PROF', 'PER_PROF', 'TOTAL_SCALE_SCORES', 'MEAN_SCORE',
       'TOTAL_EXEMPT', 'NUM_EXEMPT_NTEST', 'PCT_EXEMPT_NTEST',
       'NUM_EXEMPT_TEST', 'PCT_EXEMPT_TEST'],
      dtype='object')

In [58]:
df_annual_em_math_2022["SUBGROUP_NAME"].unique()

array(['In Foster Care', 'Not in Foster Care', 'Parent in Armed Forces',
       'Parent Not in Armed Forces', 'All Students', 'Female', 'Male',
       'American Indian or Alaska Native', 'Black or African American',
       'Hispanic or Latino',
       'Asian or Native Hawaiian/Other Pacific Islander', 'White',
       'Multiracial', 'Small Group Total', 'General Education Students',
       'Students with Disabilities', 'Non-English Language Learner',
       'English Language Learner', 'Economically Disadvantaged',
       'Not Economically Disadvantaged', 'Migrant', 'Not Migrant',
       'Homeless', 'Not Homeless'], dtype=object)

In [59]:
df_annual_em_math_2022 = df_annual_em_math_2022[column_names_22]

In [60]:
df_annual_em_math_2022.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
TOTAL_COUNT           float64
NOT_TESTED              int64
PCT_NOT_TESTED        float64
NUM_TESTED              int64
PCT_TESTED            float64
NUM_PROF               object
PER_PROF               object
TOTAL_SCALE_SCORES     object
MEAN_SCORE             object
dtype: object

In [61]:
df_annual_em_math_2022.applymap(type).eq(str).any()

ENTITY_CD             False
ENTITY_NAME            True
YEAR                  False
ASSESSMENT_NAME        True
SUBGROUP_NAME          True
TOTAL_COUNT           False
NOT_TESTED            False
PCT_NOT_TESTED        False
NUM_TESTED            False
PCT_TESTED            False
NUM_PROF               True
PER_PROF               True
TOTAL_SCALE_SCORES     True
MEAN_SCORE             True
dtype: bool

In [62]:
# replace characters with nan and convert to float
df_annual_em_math_2022["NUM_PROF"] = pd.to_numeric(
    df_annual_em_math_2022["NUM_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_math_2022["PER_PROF"] = pd.to_numeric(
    df_annual_em_math_2022["PER_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_math_2022["TOTAL_SCALE_SCORES"] = pd.to_numeric(
    df_annual_em_math_2022["TOTAL_SCALE_SCORES"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_math_2022["MEAN_SCORE"] = pd.to_numeric(
    df_annual_em_math_2022["MEAN_SCORE"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

In [63]:
df_annual_em_math_2022.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
TOTAL_COUNT           float64
NOT_TESTED              int64
PCT_NOT_TESTED        float64
NUM_TESTED              int64
PCT_TESTED            float64
NUM_PROF              float64
PER_PROF              float64
TOTAL_SCALE_SCORES    float64
MEAN_SCORE            float64
dtype: object

In [64]:
df_annual_em_math_2022.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,4000000,CATTARAUGUS County,2021,MATH3,In Foster Care,4.0,1,25.0,3,75.0,NaN,NaN,NaN,NaN
1,4000000,CATTARAUGUS County,2021,MATH3,Not in Foster Care,862.0,139,16.0,723,84.0,NaN,NaN,NaN,NaN
2,4000000,CATTARAUGUS County,2021,MATH3,Parent in Armed Forces,4.0,0,0.0,4,100.0,NaN,NaN,NaN,NaN
3,4000000,CATTARAUGUS County,2021,MATH3,Parent Not in Armed Forces,862.0,140,16.0,722,84.0,NaN,NaN,NaN,NaN
4,5000000,CAYUGA County,2021,MATH3,All Students,642.0,107,17.0,535,83.0,232.0,43.0,316276.0,591.0

In [65]:
# save to csv

df_annual_em_math_2022.to_csv('edited_data/math_edited_2021_22.csv', index=False)

## Science 2021-2022

In [66]:
df_annual_em_sci_2022 = pd.read_csv(
    "/Users/kashafali/Documents/Duke/Spring23/UDS/Project/Data/2022/Annual EM Science.csv"
)

df_annual_em_sci_2022.isnull().sum()

INSTITUTION_ID          6525
ENTITY_CD                  0
ENTITY_NAME                0
YEAR                       0
ASSESSMENT_NAME            0
SUBGROUP_NAME              0
TOTAL_COUNT             3197
NOT_TESTED                 0
PCT_NOT_TESTED             0
NUM_TESTED                 0
PCT_TESTED                 0
LEVEL1_COUNT               0
LEVEL1_%TESTED         31248
LEVEL2_COUNT               0
LEVEL2_%TESTED         31248
LEVEL3_COUNT               0
LEVEL3_%TESTED         31248
LEVEL4_COUNT               0
LEVEL4_%TESTED         31248
NUM_PROF                   0
PER_PROF               31248
TOTAL_SCALE_SCORES     46629
MEAN_SCORE             46629
TOTAL_EXEMPT          221362
NUM_EXEMPT_NTEST      221362
PCT_EXEMPT_NTEST      222942
NUM_EXEMPT_TEST       221362
PCT_EXEMPT_TEST       222942
dtype: int64

In [67]:
df_annual_em_sci_2022.columns

Index(['INSTITUTION_ID', 'ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'ASSESSMENT_NAME',
       'SUBGROUP_NAME', 'TOTAL_COUNT', 'NOT_TESTED', 'PCT_NOT_TESTED',
       'NUM_TESTED', 'PCT_TESTED', 'LEVEL1_COUNT', 'LEVEL1_%TESTED',
       'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT', 'LEVEL3_%TESTED',
       'LEVEL4_COUNT', 'LEVEL4_%TESTED', 'NUM_PROF', 'PER_PROF',
       'TOTAL_SCALE_SCORES', 'MEAN_SCORE', 'TOTAL_EXEMPT', 'NUM_EXEMPT_NTEST',
       'PCT_EXEMPT_NTEST', 'NUM_EXEMPT_TEST', 'PCT_EXEMPT_TEST'],
      dtype='object')

In [68]:
df_annual_em_sci_2022["SUBGROUP_NAME"].unique()

array(['All Students', 'Female', 'Male',
       'American Indian or Alaska Native', 'Black or African American',
       'Hispanic or Latino',
       'Asian or Native Hawaiian/Other Pacific Islander', 'White',
       'Multiracial', 'General Education Students',
       'Students with Disabilities', 'Non-English Language Learner',
       'English Language Learner', 'Economically Disadvantaged',
       'Not Economically Disadvantaged', 'Migrant', 'Not Migrant',
       'Homeless', 'Not Homeless', 'In Foster Care', 'Not in Foster Care',
       'Parent in Armed Forces', 'Parent Not in Armed Forces',
       'Small Group Total'], dtype=object)

In [69]:
df_annual_em_sci_2022 = df_annual_em_sci_2022[column_names_22]

In [70]:
df_annual_em_sci_2022.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
TOTAL_COUNT           float64
NOT_TESTED              int64
PCT_NOT_TESTED          int64
NUM_TESTED              int64
PCT_TESTED              int64
NUM_PROF               object
PER_PROF               object
TOTAL_SCALE_SCORES     object
MEAN_SCORE             object
dtype: object

In [71]:
df_annual_em_sci_2022.applymap(type).eq(str).any()

ENTITY_CD             False
ENTITY_NAME            True
YEAR                  False
ASSESSMENT_NAME        True
SUBGROUP_NAME          True
TOTAL_COUNT           False
NOT_TESTED            False
PCT_NOT_TESTED        False
NUM_TESTED            False
PCT_TESTED            False
NUM_PROF               True
PER_PROF               True
TOTAL_SCALE_SCORES     True
MEAN_SCORE             True
dtype: bool

In [72]:
# replace characters with nan and convert to float
df_annual_em_sci_2022["NUM_PROF"] = pd.to_numeric(
    df_annual_em_sci_2022["NUM_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_sci_2022["PER_PROF"] = pd.to_numeric(
    df_annual_em_sci_2022["PER_PROF"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_sci_2022["TOTAL_SCALE_SCORES"] = pd.to_numeric(
    df_annual_em_sci_2022["TOTAL_SCALE_SCORES"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

df_annual_em_sci_2022["MEAN_SCORE"] = pd.to_numeric(
    df_annual_em_sci_2022["MEAN_SCORE"].str.extract("(\d+)", expand=False),
    errors="coerce",
)

In [73]:
df_annual_em_sci_2022.dtypes

ENTITY_CD               int64
ENTITY_NAME            object
YEAR                    int64
ASSESSMENT_NAME        object
SUBGROUP_NAME          object
TOTAL_COUNT           float64
NOT_TESTED              int64
PCT_NOT_TESTED          int64
NUM_TESTED              int64
PCT_TESTED              int64
NUM_PROF              float64
PER_PROF              float64
TOTAL_SCALE_SCORES    float64
MEAN_SCORE            float64
dtype: object

In [74]:
df_annual_em_sci_2022.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,PCT_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,111111111111,All Public Schools,2021,Science4,All Students,193111.0,102757,53,90354,47,74535.0,82.0,7051713.0,78.0
1,111111111111,All Public Schools,2021,Science4,Female,93970.0,49789,53,44181,47,36380.0,82.0,3427961.0,78.0
2,111111111111,All Public Schools,2021,Science4,Male,99141.0,52968,53,46173,47,38155.0,83.0,3623752.0,78.0
3,111111111111,All Public Schools,2021,Science4,American Indian or Alaska Native,1400.0,890,64,510,36,384.0,75.0,37603.0,74.0
4,111111111111,All Public Schools,2021,Science4,Black or African American,31224.0,22574,72,8650,28,5703.0,66.0,592256.0,68.0

In [75]:
# save to csv

df_annual_em_sci_2022.to_csv('edited_data/sci_edited_2021_22.csv', index=False)