In [1]:
import pandas as pd
import numpy as np

# Subjects 2021-22

In [2]:
ELA_2021_2022 = pd.read_csv('df_ela_2022.csv')

# add column for ELA for each row
ELA_2021_2022['SUBJECT'] = 'ELA'

ELA_2021_2022["ASSESSMENT_NAME"].unique()

array(['ELA3', 'ELA4', 'ELA5', 'ELA6', 'ELA7', 'ELA8', 'ELA3_8'],
      dtype=object)

In [3]:
# year count
ELA_2021_2022["YEAR"].value_counts()

2022    21525
2021    21497
Name: YEAR, dtype: int64

In [4]:
# check for missing values
ELA_2021_2022.isnull().sum()

ENTITY_CD                                            0
ENTITY_NAME                                          0
YEAR                                                 0
ASSESSMENT_NAME                                      0
TOTAL_COUNT                                          0
                                                 ...
Students with Disabilities_PCT_TESTED             9409
Students with Disabilities_PER_PROF              12474
Students with Disabilities_TOTAL_COUNT            9409
Students with Disabilities_TOTAL_SCALE_SCORES    12474
SUBJECT                                              0
Length: 131, dtype: int64

In [5]:
Math_2021_2022 = pd.read_csv('df_Math_2022.csv')

# add column for Math for each row
Math_2021_2022['SUBJECT'] = 'Math'

Math_2021_2022["ASSESSMENT_NAME"].unique()

/var/folders/2s/c87gg64118ndg_yrky9zvlnc0000gn/T/ipykernel_40650/4275389915.py:1: DtypeWarning: Columns (11,12,13,15,19,21,22,24,28,30,31,33,37,39,40,42,46,48,49,51,55,57,58,60,64,66,67,69,73,75,76,78,82,84,85,87,91,93,94,96,100,102,103,105,109,111,112,114,118,120,121,123,127,129) have mixed types. Specify dtype option on import or set low_memory=False.
  Math_2021_2022 = pd.read_csv('df_Math_2022.csv')

array(['MATH3', 'MATH4', 'MATH5', 'MATH6', 'MATH7', 'MATH8',
       'Combined7Math', 'RegentsMath8', 'RegentsMath7', 'Combined8Math',
       'MATH3_8', 'Combined6Math', 'RegentsMath6'], dtype=object)

In [6]:
# check for missing values
Math_2021_2022.isnull().sum()

ENTITY_CD                                            0
ENTITY_NAME                                          0
YEAR                                                 0
ASSESSMENT_NAME                                      0
TOTAL_COUNT                                       3843
                                                 ...
Students with Disabilities_PCT_TESTED            25135
Students with Disabilities_PER_PROF              28570
Students with Disabilities_TOTAL_COUNT           25135
Students with Disabilities_TOTAL_SCALE_SCORES    28570
SUBJECT                                              0
Length: 131, dtype: int64

In [7]:
Science_2021_2022 = pd.read_csv('df_Science_2022.csv')

# add column for Science for each row
Science_2021_2022['SUBJECT'] = 'Science'

Science_2021_2022["ASSESSMENT_NAME"].unique()

/var/folders/2s/c87gg64118ndg_yrky9zvlnc0000gn/T/ipykernel_40650/4099104169.py:1: DtypeWarning: Columns (11,12,13,15,19,21,22,24,28,30,31,33,37,39,40,42,46,48,49,51,55,57,58,60,64,66,67,69,73,75,76,78,82,84,85,87,91,93,94,96,100,102,103,105,109,111,112,114,118,120,121,123,127,129) have mixed types. Specify dtype option on import or set low_memory=False.
  Science_2021_2022 = pd.read_csv('df_Science_2022.csv')

array(['Science4', 'Science8', 'RegentsScience8', 'CombinedScience ',
       'Science4_8'], dtype=object)

In [8]:
# stack the dataframes on top of each other
subject_df_2021_22 = pd.concat([ELA_2021_2022, Math_2021_2022, Science_2021_2022], axis=0)

In [9]:
subject_df_2021_22["ASSESSMENT_NAME"].unique()

array(['ELA3', 'ELA4', 'ELA5', 'ELA6', 'ELA7', 'ELA8', 'ELA3_8', 'MATH3',
       'MATH4', 'MATH5', 'MATH6', 'MATH7', 'MATH8', 'Combined7Math',
       'RegentsMath8', 'RegentsMath7', 'Combined8Math', 'MATH3_8',
       'Combined6Math', 'RegentsMath6', 'Science4', 'Science8',
       'RegentsScience8', 'CombinedScience ', 'Science4_8'], dtype=object)

# Subject 2018-19

In [10]:
ELA_2018_2019 = pd.read_csv('df_ela_2019.csv')

# add column for ELA for each row
ELA_2018_2019['SUBJECT'] = 'ELA'

ELA_2018_2019["ASSESSMENT_NAME"].unique()

array(['Combined8Math', 'Combined7Math', 'RegentsMath8', 'MATH3_8',
       'MATH8', 'MATH7', 'MATH5', 'MATH3', 'MATH6', 'MATH4',
       'RegentsMath7'], dtype=object)

In [11]:
Math_2018_2019 = pd.read_csv('df_Math_2019.csv')

# add column for Math for each row
Math_2018_2019['SUBJECT'] = 'Math'

Math_2018_2019["ASSESSMENT_NAME"].unique()

array(['Combined8Math', 'Combined7Math', 'RegentsMath8', 'MATH3_8',
       'MATH8', 'MATH7', 'MATH5', 'MATH3', 'MATH6', 'MATH4',
       'RegentsMath7'], dtype=object)

In [12]:
# check for missing values
Math_2018_2019.isnull().sum()

ENTITY_CD                                            0
ENTITY_NAME                                          0
YEAR                                                 0
ASSESSMENT_NAME                                      0
NOT_TESTED                                           4
                                                 ...
Students with Disabilities_NUM_PROF              19708
Students with Disabilities_NUM_TESTED            19708
Students with Disabilities_PER_PROF              19708
Students with Disabilities_TOTAL_SCALE_SCORES    19708
SUBJECT                                              0
Length: 89, dtype: int64

In [13]:
Science_2018_2019 = pd.read_csv('df_Science_2019.csv')

# add column for Science for each row
Science_2018_2019['SUBJECT'] = 'Science'

Science_2018_2019["ASSESSMENT_NAME"].unique()

array(['Science4', 'Science8', 'RegentsScience8', 'CombinedScience ',
       'Science4_8'], dtype=object)

In [14]:
# stack the dataframes on top of each other
subject_df_2018_19 = pd.concat([ELA_2018_2019, Math_2018_2019, Science_2018_2019], axis=0)

In [15]:
subject_df_2018_19["ASSESSMENT_NAME"].unique()

array(['Combined8Math', 'Combined7Math', 'RegentsMath8', 'MATH3_8',
       'MATH8', 'MATH7', 'MATH5', 'MATH3', 'MATH6', 'MATH4',
       'RegentsMath7', 'Science4', 'Science8', 'RegentsScience8',
       'CombinedScience ', 'Science4_8'], dtype=object)

# Final Subjects Dataframe

In [16]:
# stack the dataframes on top of each other
subject_df_2018_19_2021_22 = pd.concat([subject_df_2018_19, subject_df_2021_22], axis=0)

subject_df_2018_19_2021_22.head()

,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,NOT_TESTED,NUM_TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,...,Non-English Language Learner_TOTAL_COUNT,Economically Disadvantaged_PCT_NOT_TESTED,Economically Disadvantaged_PCT_TESTED,Economically Disadvantaged_TOTAL_COUNT,Not Economically Disadvantaged_PCT_NOT_TESTED,Not Economically Disadvantaged_PCT_TESTED,Not Economically Disadvantaged_TOTAL_COUNT,Students with Disabilities_PCT_NOT_TESTED,Students with Disabilities_PCT_TESTED,Students with Disabilities_TOTAL_COUNT
0,1,NYC Public Schools,2018,Combined8Math,21909,64087,27892,44,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NYC Public Schools,2018,Combined7Math,6675,65892,26320,40,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,NYC Public Schools,2018,RegentsMath8,s,14361,11369,79,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,NYC Public Schools,2018,MATH3_8,60289,402824,177196,44,00,00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,NYC Public Schools,2018,MATH8,21909,49726,16523,33,29864407,601,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# count rows for each year
subject_df_2018_19_2021_22["YEAR"].value_counts()

2018    67053
2022    66202
2021    63447
2019    61373
Name: YEAR, dtype: int64

In [18]:
# check for null values
subject_df_2018_19_2021_22.isnull().sum()

ENTITY_CD                                          0
ENTITY_NAME                                        0
YEAR                                               0
ASSESSMENT_NAME                                    0
NOT_TESTED                                         8
                                               ...
Not Economically Disadvantaged_PCT_TESTED     181667
Not Economically Disadvantaged_TOTAL_COUNT    181667
Students with Disabilities_PCT_NOT_TESTED     179792
Students with Disabilities_PCT_TESTED         179792
Students with Disabilities_TOTAL_COUNT        179792
Length: 131, dtype: int64

In [20]:
# save as csv
subject_df_2018_19_2021_22.to_csv('subject_df_2018_19_2021_22.csv', index=False)